<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Products Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>

  <div class="table-users">
   <div class="header">Products</div>

   <table cellspacing="0">
      <tr>
         <th>Product Version</th>
         <th>Offers</th>
         <th>Highlights</th>
         <th>Description</th>
         <th>Product Description</th>
      </tr>

    {% for i in product %}
      <tr>
          <td>{{i['Product_Version']}}</td>
         <td>{{i['Offers']}}</td>
         <td>{{i['Highlights']}}</td>
         <td>{{i['Description']}}</td>
         <td>{{i['Product_Description']}} </td>
          <td> <a href="{{url_for('reviews',search=product['search_string'],product_details=product['_id'])}}">Reviews</a> </td>
      </tr>
       {% endfor %}


   </table>
</div>



</body>

</html>
